!
! ~/.Xresouces
! Author: Zerong Jiang
!

! color palette
#include "./.Xcolors/jhvid"

*saveLines:    65535
*cursorBlink:  true
*cursorColor:  #a6e22e
*preeditType:  Root

! XTerm {{{

XTerm.termName:        xterm-256color
XTerm.scrollBar:       false
XTerm.rightScrollBar:  true
XTerm.dynamicColors:   true

! Colorful Man Page
*VT100.colorBDMode:     true
*VT100.colorBD:         #a6e22e
*VT100.colorULMode:     true
*VT100.colorUL:         #ae81ff
*VT100.veryBoldColors:  6

! font
XTerm*faceName:            xft:Terminus:pixelsize=12
XTerm*faceNameDoublesize:  xft:WenQuanYi Bitmap Song:pixelsize=8
! XTerm*faceName:            xft:DejaVu Sans Mono:antialias=True:pixelsize=12
! XTerm*faceNameDoublesize:  xft:WenQuanYi Micro Hei Mono:antialias=True:pixelsize=12
! XTerm*faceNameDoublesize:  xft:WenQuanYi Zen Hei Mono:antialias=True:pixelsize=12
! XTerm*faceNameDoublesize:  xft:Microsoft Yahei:antialias=True:pixelsize=11
! XTerm*faceNameDoublesize:  xft:Heiti SC:antialias=True:pixelsize=12

! }}} XTerm

! URxvt {{{
! List of all URxvt resources
! urxvt --help 2>&1| sed -n '/:  /s/^ */! URxvt*/gp'

URxvt.termName:            xterm-256color
URxvt.scrollBar:           false
URxvt.scrollColor:         #a6e22e
URxvt.scrollstyle:         plain
URxvt.scrollBar_right:     true
URxvt.scrollBar_floating:  true
URvxt.skipBuiltinGlyphs:   true

! Colorful Man Page
URxvt.colorIT:      #a6e22e
URxvt.colorBD:      #a6e22e
URxvt.colorUL:      #ae81ff

! font
URxvt.font:              xft:Terminus-8,\
                         xft:WenQuanYi Bitmap Song-8
! URxvt.font:            xft:DejaVu Sans Mono:antialias=True:pixelsize=12,\
!                        xft:WenQuanYi Micro Hei Mono:antialias=True:pixelsize=12
! URxvt*italicFont:      font
! URxvt*boldItalicFont:  font
! URxvt.letterSpace:     -1

! True transparency
! URxvt.depth:       32
! URxvt.background:  [80]#353333

! Native transparency
! URxvt.transparent:  true
! URxvt.shading:      0 to 99 darkens, 101 to 200 lightens
! URxvt.shading:      50

! Clickable URL
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:     chromium
URxvt.matcher.button:   1

! URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select

! URxvt.url-select.launcher:  google-chrome
! URxvt.url-select.underline: true
! URvxt.url-select.button:    2
! URxvt.keysym.M-u:           perl:url-select:select_next

! URxvt.keysym.M-Escape:      perl:keyboard-select:activate
! URxvt.keysym.M-s:           perl:keyboard-select:search

! URxvt.keysym.M-c:           perl:clipboard:copy
! URxvt.keysym.M-v:           perl:clipboard:paste
! URxvt.keysym.M-C-v:         perl:clipboard:paste_escaped
! URxvt.clipboard.autocopy:   true

! }}} URxvt
